.flex-container {
    display: flex;
    background-color: Purple;
    justify-content: flex-start;
    width: 800px;
    }
    .flex-container > div {
    background-color: Orange;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    }